@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-06 08:39:07
 * @version $Id$
 */
body{
	padding: 20px;
}

header>.m-tl>.m-tab>span{
	background: #006699;
	color: #fff;
	padding: 4px 10px 0;
	border-radius: 3px 3px 0 0;
	display: block;
	text-align: center;
}

header>.m-tl>.m-tip>span{
	background: #ff6600;
	color: #fff;
	padding: 2px 4px;
	font-size: 15px;
	border-radius: 3px;
	text-align: center;
}
header>.m-tl>.m-fun>span{
    border: 1px solid #ccc;
    color: rgb(0,40,194);
    padding: 2px 10px 0 30px;
    border-radius: 2px;
    text-align: right;
    position: absolute;

}

header>.m-tl>.m-fun>img{
	height: 20px;
    position: absolute;
    margin: 3px 0 0 5px;
}
header>.m-tl.ui-grid-row {
    border-bottom: 5px solid #006699;
    width: 1000px
}
.m-tl>.ui-grid-2{
	margin-top: 2px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.m-tl>.ui-grid-21{
	margin-bottom: 0;
	padding-bottom: 0;
}
.m-bd>div{
	margin: 2px 0 0 10px;
}
.m-bd-hd>span{
	color: rgb(241,0,0);
	font-size: 13px;
}
span.m-bd-hd-time {
    color:rgb(241,0,0);
    font-size: 15px;
}
.m-bd {
    border: 1px solid #ccc;
    width: 1000px;
    background: rgb(249,250,250);
}
.m-pri{
	margin: 20px;
}
.m-pri>em{
	color: black;
}
.m-bd-ft>em{
	color: black;
	font-weight: bold;
}
.m-bd-ft-fun{
	color: rgb(241,0,0);
	font-size: 13px;
}
.m-bd-ft-time{
	margin: 0 0 0 20px;
}
.m-ft {
	margin: 0 0 7px 0;
    background: rgb(255,251,222);
    width: 1000px;
    font-size: 13px;
    height: 25px;
}
.m-ft>img{
	width: 18px;
	position: absolute;
    margin: 1px 0 0 880px;
}
.m-ft>span>img{
	width: 16px;
    position: absolute;
    margin: 1px 0 0 936px;
}
span.m-ft-text1 {
    margin: 0 0 0 900px;
    color: rgb(0,40,194);
    text-decoration: underline;
}
span.m-ft-text2{
    margin: 0 0 0 25px;
    color: rgb(0,40,194);
    text-decoration: underline;
}
section>.ui-grid-row {
    width: 1000px;
    height: 18px;
}
section>.ui-grid-row>.ui-grid-14{
	color: rgb(82,123,146);
	background: rgb(201,221,233);
	text-align: center;
	margin: 0 2px 10px 0;
	width: 590px;
}
section>.ui-grid-row>.ui-grid-3{
	color: rgb(82,123,146);
	background: rgb(201,221,233);
	text-align: center;
	margin: 0 2px 10px 0;
}
section>.ui-grid-row>.ui-grid-2{
	margin-top: 0px;
	color: rgb(82,123,146);
	background: rgb(201,221,233);
	text-align: center;
	margin: 0 2px 10px 0;
}
.m-sch1 {
    background: rgb(242,242,242);
    border: 1px solid #ccc;
    width: 995px;
    height: 30px;
}
span.m-sch1-le {
    font-size: 17px;
    font-weight: bold;
   margin: 3px 0 0 -830px;
    position: absolute;
}
span.m-sch1-ri {
     margin: 5px 0 0 -50px;
    color: rgb(0,40,194);
    text-decoration: underline;
     position: absolute;
}
.m-sch1-le>img{
	width: 16px;
    margin: 2px 5px 0 0;
}
section>.m-bd1{
	height: 45px;
}
section>.m-bd1>.ui-grid-3{
	background: white;
	border: 1px solid #ccc;
	height: 45px;
	 margin: 0 0 0 0;
	 text-align: center;
	 font-size: 11px;
}
section>.m-bd1>.ui-grid-2{
	background: white;
	border: 1px solid #ccc;
	height: 45px;
	border-right: 0px;
	 margin: 0 0 0 0;
}
section>.m-bd1>.ui-grid-5 {
    width: 190px;
    height: 45px;
    border: 1px solid #ccc;
    margin: 0 4px 0 0;
    text-align: center;
    border-right: 3px solid rgb(125,200,218);
}
section>.m-bd1>.ui-grid-9 {
    width: 390px;
    margin: 0 0 0 0;
    height: 45px;
    border: 1px solid #ccc;
    border-left: 3px solid rgb(125,200,218);
}
.m-bd-time {
    font-weight: bold;
    font-size: 14px;
}
section>.m-bd1>.ui-grid-9>img{
	width: 50px;
    margin: 6px 0 0 20px;
    position: absolute;
}
section>.m-bd1>.ui-grid-9>span{
	width: 166px;
    margin: 3px 0 0 100px;
    position: absolute;
    color: rgb(0,40,194);
}
section>.m-bd1>.ui-grid-3>span{
	font-size: 15px;
    color: black;
    font-weight: bold;
    margin: 11px 0 0 -20px;
    position: absolute;
}
.m-sch2 {
    background: rgb(242,242,242);
    border: 1px solid #ccc;
    width: 995px;
    height: 50px;
}
.m-sch2>img{
	width: 16px;
    margin:15px 0 0 -808px;
    position: absolute;
}
span.m-sch2-wait {
    margin: 15px 0 0 -915px;
    position: absolute;
}
span.m-sch2-le {
    position: absolute;
    margin: 11px 0 0 -785px;
    font-size: 16px;
    font-weight: bold;
}
span.m-sch2-pos {
    position: absolute;
    margin: 15px 0 0 -375px;
}
.m-sch2-ri {
       margin: 5px 0 0 835px;
    width: 180px;
}
.m-sch2-ri>span{
	text-decoration: underline;
	margin: 2px 0 0 6px;
	color: rgb(0,40,194);
	float: right;
}

.m-sch2-ri {
    margin: 5px 0 0 827px;
    width: 160px;
}
section>.m-bd2{
	height: 45px;
}
section>.m-bd2>.ui-grid-3{
	background: white;
	border: 1px solid #ccc;
	height: 45px;
	 margin: 0 0 0 0;
	 text-align: center;
	 font-size: 11px;
}
section>.m-bd2>.ui-grid-2{
	background: white;
	border: 1px solid #ccc;
	height: 45px;
	border-right: 0px;
	 margin: 0 0 0 0;
}
section>.m-bd2>.ui-grid-5 {
    width: 190px;
    height: 45px;
    border: 1px solid #ccc;
    margin: 0 4px 0 0;
    text-align: center;
    border-right: 3px solid rgb(125,200,218);
}
section>.m-bd2>.ui-grid-9 {
    width: 390px;
    margin: 0 0 0 0;
    height: 45px;
    border: 1px solid #ccc;
    border-left: 3px solid rgb(125,200,218);
}
section>.m-bd2>.ui-grid-9>img{
	width: 56px;
    margin: 6px 0 0 20px;
    position: absolute;
}
section>.m-bd2>.ui-grid-9>li{
	width: 166px;
    margin: 3px 0 0 100px;
    color: rgb(0,40,194);
    list-style: none;
}
section>.m-bd2>.ui-grid-3>span{
	font-size: 15px;
    color: black;
    font-weight: bold;
    margin: 11px 0 0 -28px;
    position: absolute;
}
section>.m-bd2>.m-bd2-order>span{
	color: black;
    width: 48px;
    font-size: 12px;
    font-weight: 100;
    margin: 3px 0 0 -23px;
}
section>.m-bd2>.m-bd2-s>span{
	color: black;
    font-size: 12px;
    font-weight: 100;
    margin: 12px 0 0 -20px;
    position: absolute;
}
li.m-bd2-li1 {
    text-decoration: underline;
}
section>.m-bd2>.ui-grid-9>.m-bd2-li2 {
    color: white;
    background: rgb(0,70,154);
    width: 60px;
    height: 16px;
    text-align: center;
    border: 1px solid rgb(0,70,154);
    border-radius: 6px;
}
.m-sch3 {
    background: rgb(242,242,242);
    border: 1px solid #ccc;
    width: 995px;
    height: 50px;
}
section>.m-sch3>span.m-sch1-le{
	margin: 13px 0 0 -830px;
}
section>.m-sch3>.m-sch2-ri{
	width: 130px;
	margin: 5px 0 0 854px;
}