@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-23 13:17:49
 * @version $Id$
 */
.m-top{
	background: rgb(0,194,175);
}
.m-top-le{
	line-height: 54px;
    font-size: 18px;
    color: white;
}
.m-top-le-select{
	color: white;
	background:rgb(0,194,175) ;
	 margin: 10px;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
.user{
	margin-top: 3px;
    margin-left: -6px;
    font-size: 33px;
    color: white;
}
.m-top-ri{
	color: white;
}
.search{
	position: absolute;
    margin-top: 7px;
    font-size: 18px;
    margin-left: 6px;
    color: white;
}
.m-top-mid-input{
	background: rgb(0,165,149);
	border: 1px solid rgb(0,194,175);
}
 #exampleInputEmail1::-webkit-input-placeholder{
        color: #ADD8E6;
}
.m-bd1-cir{
	margin-top: 24px;
    padding-left: 46px;
}
.m-bd1-cir>div{
	margin-left: 16px;
    font-size: 17px;
}
.m-bd1::after {
    content: "";
    background: rgb(241,239,237);
    height: 20px;
    display: block;
}
.m-bd2::after {
    content: "";
    background: rgb(241,239,237);
    height: 20px;
    display: block;
    margin: 260px 0 0 0;
}
.m-bd3::after {
    content: "";
    background: rgb(241,239,237);
    height: 20px;
    display: block;
    margin: 140px 0 0 0;
}
.m-bd2-mod1-1 {
    padding: 10px 0 0 2px;
    color: rgb(29,172,15);
    font-size: 20px;
    font-weight: bolder;
}
.m-bd2-mod1-2 {
    padding: 15px 0 0 0;
    font-size: 18px;
}
.m-bd2-mod1-3{
    height: 150px;
    width: 150px;
    background: gray;
     margin: 15px 0 0 0;
}
.m-bd2-mod2-1 {
    padding: 10px 0 0 2px;
    color: rgb(255,79,26);
    font-size: 20px;
    font-weight: bolder;
}
.m-bd2-mod2-2 {
    padding: 15px 0 0 0;
    font-size: 18px;
}
.m-bd2-mod2-3{
    height: 90px;
    width: 90px;
    background: gray;
    margin: -65px 0 0 250px;
}
 .m-bd2-mod3-mod1-1{
     padding: 10px 0 0 2px;
    color: rgb(255,76,169);
    font-size: 20px;
    font-weight: bolder;
 }
 .m-bd2-mod3-mod1-2{
    height: 90px;
    width: 90px;
    background: gray;
    margin: 5px 0 0 30px
 }
 .m-bd2-mod3-mod2-1{
    padding: 20px 0 0 2px;
    color: rgb(255,135,0);
    font-size: 20px;
    font-weight: bolder;
}
.m-bd2-mod3-mod2-2{
     padding: 8px 0 18px 0;
    font-size: 18px;
}
.m-bd2-mod3-mod2-3>span{
    background: black;
    color: white;
    font-size: 20px;
}
 .m-bd2-mod1::after {
    content: "";
    height: 245px;
    width: 1px;
    background: gray;
    position: absolute;
    margin: -235px 0 0 220px;
 }
.m-bd2-mod2::after {
   content: "";
    height: 1px;
    background: gray;
    margin: 9px 0 0 -378px;
    display: block;
}
.m-bd2-mod3-mod1::after {
    content: "";
    height: 140px;
    width: 1px;
    background: gray;
    position: absolute;
    margin: -130px 0 0 170px;
}
 .m-bd3-mod1-1{
    padding: 20px 0 0 2px;
    color: rgb(255,79,26);
    font-size: 20px;
    font-weight: bolder;
}
.m-bd3-mod1-2{
     padding: 15px 0 18px 0;
    font-size: 18px;
}
.m-bd3-mod1-3{
    height: 120px;
    width: 120px;
    background: gray;
    margin: -100px 0 0 160px;
 }
  .m-bd3-mod2-1{
    padding: 20px 0 0 2px;
    color: rgb(255,135,0);
    font-size: 20px;
    font-weight: bolder;
}
.m-bd3-mod2-2{
     padding: 15px 0 18px 0;
    font-size: 18px;
}
.m-bd3-mod2-3{
    height: 120px;
    width: 120px;
    background: gray;
    margin: -100px 0 0 160px;
 }
.m-bd3-mod1::after {
      content: "";
    height: 140px;
    width: 1px;
    background: gray;
    position: fixed;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: -125px 0 0 100%;

}
.m-bd4-top {
    font-size: 25px;
    padding: 20px 0 0 20px;
}
.m-bd4-top::after {
    content: "";
    background: gray;
    height: 1px;
    display: block;
    margin: 20px 0 0 0;
}
.m-mod4-mod1-1{
    height: 130px;
    width: 130px;
    background: gray;
    margin: 20px 0 20px -10px;
}
.m-mod4-mod1-2 {
    padding: 25px 0 0 15px;
    font-size: 22px;
}
.m-mod4-mod1-3 {
    padding: 0 0 0 15px;
}
.m-mod4-mod1-4 {
    padding: 30px 0 0 15px;
}

.m-mod4-mod1-4-1 {
    font-size: 30px;
    color: rgb(0,195,176);
    font-weight: bold;
}
.m-mod4-mod1-4-2 {
    color: rgb(0,195,176);
    font-size: 16px;
}
span.m-mod4-mod1-4-3 {
    border: 2px solid rgb(255,168,29);
    margin-left: 16px;
    color: rgb(255,168,29);
    padding: 2px 2px 2px 2px;
}
span.m-mod4-mod1-4-4 {
    padding: 0 0 0 700px;
    font-size: 14px;
}
 .m-bd4-mod1::after {
      content: "";
    background: gray;
    height: 1px;
    display: block;
    margin: 20px 0 0 0;
 }
 span.m-mod4-mod1-4-5 {
    font-size: 15px;
    padding-left: 10px;
}
.container-fluid.m-ft {
    background: rgb(143,198,234);
    height: 50px;
}
span.m-ft-le {
    line-height: 3;
    font-size: 18px;
    color: rgb(0,179,209);
    font-weight: 700;
}
span.m-ft-ri {
    font-size: 20px;
    padding: 0 0 0 930px;
    color: rgb(0,179,209);
    font-weight: bold;
}
.m-bd4-order-1{
    width: 0;
    height: 0px;
    border: 44px solid;
    border-color: transparent transparent rgb(0,194,175) transparent;
    position: absolute;
    margin: -194px 0 0 -54px;
    transform: rotate(-45deg);
}
.m-bd4-order-2{
       width: 0;
    height: 0px;
    border: 24px solid;
    border-color: transparent transparent grey transparent;
    position: absolute;
    margin: -174px 0 0 -34px;
    transform: rotate(-45deg);
}
.m-bd4-order{
   width: 40px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color:white;
    font-size: 12px;
    transform: rotate(-45deg);
    position: absolute;
    z-index:999;
    margin: -150px 0 0 0;
}

