@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-03-30 10:45:28
 * @version $Id$
 */
.g-index{
    margin: 100px 0 0 500px;
    width: 900px;
    height: 800px;
    background: rgb(153,189,144);
}

.m-hd {
    width: 760px;
    height: 120px;
    border: 20px solid rgb(205,211,245);
    position: absolute;
    margin: 30px 0 0 50px;
    display: flex;
}

.m-hd>li {
    width: 80px;
    list-style: none;
    height: 80px;
    border: 10px;
    margin: 20px;
    background: rgb(205,211,245);
}
.m-hd>em{
    flex: 1;
     margin: 70px;
}
.m-bd{
    width: 760px;
    height: 420px;
    border: 20px solid rgb(205,211,245);
    position: absolute;
    margin: 170px 0 0 50px;
    display: flex;

}

.m-bd-le-top {
    height: 300px;
    width: 200px;
    background: rgb(205,211,245);
    margin: 20px 0 0 20px;
}

.m-bd-le-ft {
    width: 230px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 5px 0 0 7.5px;
}
.m-bd-le-ft>li{
    list-style: none;
    width: 50px;
    height: 50px;
    background: rgb(205,211,245);
    margin: 12.5px;
}

.m-bd-ri>li{
        width: 480px;
    height: 40px;
    background: rgb(205,211,245);
    margin: 15px;
    list-style: none;
}

.m-bd-ri {
    margin: 5px;
}