@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-19 10:37:25
 * @version $Id$
 */
.m-bd {
  border: 1px solid black;
  height: 280px;
  width: 400px;
  padding: 20px 10px;
  position: relative;
}
.m-add {
  height: 30px;
  width: 100px;
  border: 2px solid #333;
  color: white;
  background:rgb(51,153,102);
  text-align: center;
  line-height: 30px;
  position: absolute;
  bottom: 20px;
  right: 10px;
} 
.u-content {
  border: 1px solid #333;
  height: 35px;
  margin-top: 10px; 
  display: flex;

}

.u-no {
  border-right: 1px solid #333;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.u-info {
  width: 290px;
}

.u-del {
  border-left: 1px solid #333;
  text-align: center;
  width: 65px;
  line-height: 35px;
}
